* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

header {
  width: 100vw;
  height: 10vh;
  padding: 2.5rem;
}
header p {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

main .main__container-photo {
  width: 100%;
  height: 15rem;
  display: flex;
}
main .main__container-photo img {
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
  border-radius: 50%;
}
main .main__personal--info {
  width: 100%;
  height: 2rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}
main .main__personal--tecnologies {
  width: 100%;
  height: 20rem;
}
main .main__personal--tecnologies ul {
  height: min-content;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
  grid-row-gap: 3rem;
}
main .main__personal--tecnologies ul li {
  width: 100px;
  border-radius: 7px;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 0.2rem;
}
main .main__personal--tecnologies ul li:last-of-type {
  grid-column: 2;
}

main .main-knowledge {
  width: 100%;
  padding: 0 4rem;
}
main .main__what-i-do {
  text-align: center;
  font-size: 2rem;
  line-height: 6rem;
}
main .main__what-i-do h2:last-of-type {
  border-top: solid 3px black;
}

main .main__things-i-do {
  width: 100%;
  height: fit-content;
  font-size: 1.5rem;
}
main .main__things-i-do ul {
  list-style: none;
}
main .main__things-i-do ul li {
  margin-top: 20px;
  line-height: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}
main .main__my-skills-container {
  width: 100%;
  height: fit-content;
  text-align: center;
  padding-top: 4rem;
}
main .my-skills--title {
  font-size: 2rem;
}
main .my-skill--tecnologies {
  height: fit-content;
  width: 100%;
  margin-top: 5rem;
}
main .my-skill--tecnologies ul {
  height: fit-content;
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0 5rem;
  justify-content: space-between;
}
main .my-skill--tecnologies ul li {
  width: 5rem;
  height: 5rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
main .my-skill--tecnologies ul li:first-child {
  background-image: url("https://pixabay.com/get/gf30f95b524f9fb0251fe3dc759016f4e43cd82a10e838cb41b4cdafa88092ad317fee8dadf8b4c59f6e0ad4f4c207882a787c59e981f5816b9b5837b47fedc98f76d1726ecea5afe3d9981c43e7adf98_640.png");
  background-color: #e44d26;
}
main .my-skill--tecnologies ul li:nth-child(2) {
  background-image: url("https://pixabay.com/get/ge82ae794c523af03a428041d946e12bbdc208f6730b07ba4d692a47e60b158f4d45d48bdb428e037b1719d1c3d81b62652dbf5c76fe43e73783608af81f54af57ecf0804d63119a73afad598a42fadde_640.png");
  background-color: #379ad6;
}
main .my-skill--tecnologies ul li:nth-child(3) {
  background-size: 50%;
  background-image: url("../assets/Screenshot\ from\ 2022-06-14\ 14-16-19.png");
  background-color: #f0db4f;
}
main .my-skill--tecnologies ul li:nth-child(4) {
  background-size: 60%;
  background-image: url("../assets/5968322.png");
  background-color: #4d4d4d;
}
main .my-skill--tecnologies ul li:nth-child(5) {
  background-size: 70%;
  background-image: url("../assets/Git-Icon-1788C.png");
  background-color: #e6e6e6;
}

main .main__my-proyects-container {
  width: 100%;
  height: fit-content;
  margin-top: 70px;
  padding: 0 20%;
  text-align: center;
}
main .main__my-proyects-container h2 {
  font-size: 3rem;
  margin-bottom: 50px;
}
main .main__my-proyects-container .project-container .project {
  margin: 50px 0;
}
main .main__my-proyects-container .project-container .project * {
  margin:  20px 0;
}
main .main__my-proyects-container .project-container .project h3 {
  font-size: 2rem;
}
main .main__my-proyects-container .project-container .project p {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}
main .main__my-proyects-container .project-container .project img {
  width: 20rem;
  height: 20rem;
}
